<%- layout('/layouts/boilerplate') %>
<div class="container">
    <h1 class="text-center">Edit Campground</h1>
    <form action="/campgrounds" method="POST" class="bootstrap-validate" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="campground[title]" value=<%= camp.title%> required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="campground[location]" value="<%= camp.location %>" required>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="img" name="campground[image]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                    aria-describedby="price-label" name="campground[price]" value = "<%= camp.price %>" required>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Update Campground</button>
        </div>
    </form>
    <footer><a href="/campgrounds">Back to All Campgrounds</a></footer>
</div>