<%- layout('/layouts/boilerplate') %>

<h1>Register</h1>
<form action="/register" method="POST" class="bootstrap-validate" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>

        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>

        <label for="pw" class="form-label">Password</label>
        <input type="password" class="form-control" id="pw" name="pw" placeholder="Password" required>  
    </div>
    <button type="submit" class="btn btn-primary mb-3">Register</button> 
</form>